body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center; 
}

h1 {
  text-align: center;
}

.block {
  border: 3px solid rgb(29, 149, 255);
  border-radius: 10px;
  background-color: rgb(194, 224, 250);
  height: 100px;
  width: 100px;
  cursor: pointer;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}

.board {
  padding: 20px;
  border: 2px solid rgb(30, 30, 63);
  border-radius: 10px;
  background-color: rgb(9, 44, 75);
  height: 350px;
  width: 300px;
}

.row {
  display: flex;
}

.btn {
  margin-top: 20px;
  padding: 10px;
  font-weight: 300;
  color: #fff;
  background-color: brown;
  border-radius: 10px;
}